

.wrapper{
    width: 968px;
    margin: 0 auto;
  
  }

.main-menu{

    color: white;
    font-family: 'Segoe UI Regular';
    text-transform: uppercase;
}

header nav{
    width: 600px;
    color: white;
  
}

header{
    background-color: yellow;
}

header a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    
}
a:hover {
    background-color: cornflowerblue;
    color:black
  }
.header-menu h1{
    font-family: sans-serif;
}

.achtbaanBox{
    font-family: sans-serif;
}

.achtbaanBox2{
    background-color: white;
    font-family: sans-serif;
}

.achtbaanBox2 img{
    width: 945px;
}

body{
    background-color: cornflowerblue;
}
