

.wrapper{
    width: 968px;
    margin: 0 auto;
  
  }

.main-menu{

    color: white;
    font-family: 'Segoe UI Regular';
    text-transform: uppercase;
}

header nav{
    width: 600px;
    color: white;
  
}

header{
    background-color: #4bcaff;
}

header a{
    color: white;
    text-decoration: none;
    
}
a:hover {
    background-color: yellow;
    color:black
  }